body {
  letter-spacing: 1px;
}


.content__default h1 {
  margin: 0 0 1em;
}
.content__default h2,
.content__default h3 {
  pointer-events: none;
}

.content__default h2 {
  margin: 45px 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to bottom,transparent 50%, #ccc 50%) 0 0 100%/1px 0;
}
.content__default h3 {
  margin: 52px 0 1.2em;
  line-height: 1.2;
  position: relative;
}