{{- $limit := .limit | default 7 -}}
{{- $sections := "" -}}
{{- with .sections }}
{{- $sections = split . "," -}}
{{- end }}
{{- $sections = $sections | default $.Site.Params.mainSections | default (slice "post" "posts") -}}
{{- $class := .class | default "mb-4" -}}
<!-- {{- $style := .style | default "box-shadow: 20px 20px 60px #ced1d6, -20px -20px 60px #fff;" -}} -->
{{- $style := .style -}}

{{- $pages := first $limit (where $.Site.RegularPages "Type" "in" $sections) -}}
<style>
  .animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  @keyframes ping {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      /* opacity: 0; */
    }
  }
  /* .shadow-card:hover {
    box-shadow: 0px 2px 16px #DDDDDD;
  } */
	.eSbheu {
    display: inline-block;
    color: white;
    padding: 0.75em 20px;
    margin-left: -2px;
    font-weight: 600;
		backdrop-filter: saturate(180%) blur(1em);
    /* background: linear-gradient( 90deg, #338bff 11.3%, #80b7ff 161.54% ); */
		background: linear-gradient( 90deg, #447aed 11.3%, #a2defc 161.54% );
    transition: background .5s;
    box-shadow: rgba(0, 105, 165, 0.35) 0px 0px 32px;
    border-radius: 7px;
    font-family: "Yuanti SC", Youyuan, "You Yuan", 幼圆, "PingFang SC", "Microsoft Yahei", Helvetica, sans-serif;
	}
	.eSbheu:hover {
    color: white;
    text-decoration: none;
	}
</style>
<main class="main single" id="main">
	<div class="main-inner">
		<h1 class="text-center mb-8">
			最新文章
			<svg class="inline align-baseline animate-ping" width="31" height="31" viewBox="0 0 31 31" fill="#007bff" xmlns="http://www.w3.org/2000/svg"><path d="M25.8333 5.16666H5.16668C3.73293 5.16666 2.59626 6.31624 2.59626 7.74999L2.58334 23.25C2.58334 24.6837 3.73293 25.8333 5.16668 25.8333H25.8333C27.2671 25.8333 28.4167 24.6837 28.4167 23.25V7.74999C28.4167 6.31624 27.2671 5.16666 25.8333 5.16666ZM10.9792 19.375H9.42918L6.13543 14.8542V19.375H4.52084V11.625H6.13543L9.36459 16.1458V11.625H10.9792V19.375ZM17.4375 13.2525H14.2083V14.6992H17.4375V16.3267H14.2083V17.7604H17.4375V19.375H12.2708V11.625H17.4375V13.2525ZM26.4792 18.0833C26.4792 18.7937 25.8979 19.375 25.1875 19.375H20.0208C19.3104 19.375 18.7292 18.7937 18.7292 18.0833V11.625H20.3438V17.4504H21.8033V12.9037H23.4179V17.4375H24.8646V11.625H26.4792V18.0833Z" class="newicon"></path></svg>
		</h1>
		{{- range $pages }}
		<!-- px-4 shadow-2xl py-8 rounded-xl -->
		<article class="content post home h-entry">
				<h2 class="post-title p-name">
						<a href="{{ .RelPermalink }}" class="summary-title-link u-url">{{ (partial "utils/title.html" (dict "$" . "title" .LinkTitle)).htmlTitle }}</a>
				</h2>
				{{ if $.Site.Params.enablePostMetaInHome }}
						{{ partial "components/post-meta.html" (dict "$" . "isHome" true) }}
				{{ end }}
				<summary class="summary p-summary">
						{{ partial "utils/summary.html" . }}
				</summary>
				{{ if or .Truncated .Params.summary }}
						<div class="read-more-container">
								<a href="{{ .RelPermalink }}" class="read-more-link">{{ i18n "readMore" }} »</a>
						</div>
				{{ end }}
		</article>
		{{- end }}

		<div class="text-right mt-6">
			<a href="/posts" class="sc-AxiKw eSbheu">查看更多文章</a>
		</div>
	</div>
</main>
