
@-webkit-keyframes logo-blink {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  5% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.8;
  }
  65% {
    opacity: 0.8;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes logo-blink {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  5% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.8;
  }
  65% {
    opacity: 0.8;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}